*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    height: 100vh;
    width: 100%;
    background-image: url(IMG/daniel-spase-Uazo45yIWzI-unsplash.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

}
header {
    width: 100%;
    height: 100%;
    border: 1px solid #fff;  
    flex-wrap: wrap;
    
    }
    header .song_side {
      width: 100%;
      background: #0b1320;
   
   }
header .master_play {
    margin: 550px 0px 0px 0;
    width: 100%;
    height: 10%;
    border: #090f1f;
    background: #111727;
    box-shadow: 0px 3px 8px #090f1f;
 }
 header .master_play{   
    display: flex;
    align-items: center;
    padding: 0px 20px;
 }
 
 header .master_play .wave {
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
    margin-left: 20px;
    display: flex;
    align-items: flex-end;
    margin-right: 10px;
 
 }
 
 header .master_play .wave .wave1 {
    width: 3px;
    height: 10px;
    background: #36e2ec;
    margin-right: 3px;
    border-radius: 10px 10px 0px 0px;
    animation: wave .5s linear infinite;
 }
 
 header .master_play .wave .wave1:nth-child(2) {
    height: 13px;
    margin-right: 3.5px;
    animation-delay: .4s;
 }
 
 header .master_play .wave .wave1:nth-child(3) {
    height: 8px;
    animation-delay: .8s;
 }
 
 
 header .master_play .active1 .wave1 {
    animation: wave .5s linear infinite;
 }
 
 header .master_play .active1 .wave1:nth-child(2) {
    animation-delay: .4s;
 }
 
 header .master_play .active1 .wave1:nth-child(3) {
    animation-delay: .8s;
 }
 
 @keyframes wave {
    0% {
       height: 10px;
    }
 
    50% {
       height: 15px;
    }
 
    100% {
       height: 10px;
    }
 }
 
 header .master_play img {
    width: 35px;
    height: 35px;
 }
 
 header .master_play h2 {
    width: 130px;
    height: 1px solid #fff;
    margin-left: 15px;
    color: #fff;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
 }
 
 header .master_play h2 .subtitle {
    font-size: 11px;
    color: #4c5262;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 }
 
 header .master_play .icon {
    font-size: 20px;
    color: #fff;
    margin: 0px 20px 0px 40px;
    outline: none;
    display: flex;
    align-items: center;
 }
 
 header .master_play .icon .bi {
    cursor: pointer;
    outline: none;
 
 }
 
 header .master_play .icon .bi:nth-child(3) {
    border: 1px solid rgb(105, 105, 105, .1);
    border-radius: 50%;
    padding: 1px 5% 0px 7px;
    margin: 0px 5px;
 }
 
 header .master_play span {
    color: #fff;
    width: 32px;
    font-size: 11px;
    font-weight: 400;
 }
 
 header .master_play #currentStart {
    margin: 0px 0px 0px 20px;
 }
 
 header .master_play .bar {
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105, 105, 170, .1);
    margin: 0px 15px 0px 10px;
 }
 
 header .master_play .bar .bar2 {
    position: absolute;
    background: #36e2ec;
    width: 50%;
    height: 100%;
    top: 0;
    transition: 1s linear;
 }
 
 header .master_play .bar .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1.5%;
    transition: 1s linear;
 }
 header .master_play .bar .dot::before{
    content: '';
    position: absolute;
    width: 15PX;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -7px;
    top: -6.5%;
    box-shadow: inset 0px 0px 3px #36e2ec;
 }
 header .master_play .bar input{
    position: absolute;
    width: 100%;
    top: -7px;
    left: 0;
    cursor: pointer;
    z-index: 99999999999999999999999999999999;
    opacity: 0;
 }
 header .master_play #currentEnd {
    margin: 20px 0px 0px -10px;
}
 
 header .master_play .vol{
    position: relative;
    width: 100px;
    height: 2px;
    background: rgb(105, 105, 170, .1);
    margin-left: 50px;
 }
 header .master_play .vol .bi{
    position: absolute;
    color: #fff;
    font-size: 25px;
    top: -17px;
    left: -30px;
 }
 header .master_play .vol input{
    position: absolute;
    width: 100%;
    top: -6px;
    left: 0%;
    cursor: pointer;
    z-index: 99999999999999999999999;
    opacity: 0;
 }
 header .master_play .vol .vol_bar{
    position: absolute;
    background: #36e2ec;
    width: 50%;
    height: 100%;
    top: 0%;
    transition: 1s linear;
 }
 header .master_play .vol .dot {
    position: absolute;
    width: 5px;
    height: 5px;
    background: #36e2ec;
    border-radius: 50%;
    left: 0%;
    top: -1.5%;
    transition: 1s linear;
 }
 header .master_play .vol .dot::before {
    content: '';
    position: absolute;
    width: 15PX;
    height: 15px;
    border: 1px solid #36e2ec;
    border-radius: 50%;
    left: -7px;
    top: -6.5%;
    box-shadow: inset 0px 0px 3px #36e2ec;
 }
 header .song_side nav{
   width: 90%;
   height: 10%;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
header .song_side nav ul{
   display: flex;
}

header .song_side nav ul li{
   list-style: none;
   position: relative;
   font-size: 13px;
   color: #4c5262;
   margin-inline-start: 25px;
   cursor: pointer;
   transition: .3s linear;
}
header .song_side nav ul li:hover{
   color: #fff;
}
header .song_side nav ul li:nth-child(1){
   color: #fff;
}
header .song_side nav ul li span{
   position: absolute;
   width: 100%;
   height: 2.5px;
   background: #36e2ec;
   bottom: -5px;
   left: 0;
   border-radius: 20px;

}
header .song_side nav .search{
   position: relative;
   width: 40%;
   padding: 1px 10px;
   border-radius: 20px;
   color: grey;
}
header .song_side nav .search::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   background: rgb(184, 184, 184, .1);
   border-radius: 20px;
   backdrop-filter: blur(5px);
   z-index: -1;

}
header .song_side nav .search .bi{
   font-size: 13px;
   padding: 3px 0px 0px 10px;

}
header .song_side nav .search input{
   background: none;
   border: none;
   outline: none;
   padding: 0px 10px;
   color: #fff;
   font-size: 12px;

}