.flex {
  display: flex;
}

.f-col {
  flex-direction: column;
}

.f-row {
  flex-direction: row;
}

.f-cen {
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}